{% extends 'base.html'%}

{% block title %}
Adopt a Pet
{% endblock %}

{% block content %}

<h1 class='display-1 mt-3'>Pets</h1>
<div class='row'>
    {% for pet in pets %}
    <div class='col col-lg-3 col-md-4 col-sm-6'>
    <a href="/{{pet.id}}">
        <h2 class="pt-2">{{pet.name}}</h2>
    </a>
    <img src="{{pet.photo_url}}" class='img-fluid' alt="">
    {% if pet.available %}
    <h3 class='mb-3'><strong>Available!</strong></h3>
    {% endif %}
    </div>
    {% endfor %}
</div>
<a href="/add" class='btn btn-primary'>Add a Pet</a>
{% endblock %}