{% extends 'base.html'%}

{% block title %}
Edit a Pet
{% endblock %}

{% block content %}

<h1 class='display-1 mt-3 text-center'>{{pet.name}} ({{pet.species}})</h1>
<div class="row justify-content-center">
    <div class="col-md-8">
        {% if pet.photo_url %} <img src="{{pet.photo_url}}" class="img-fluid" alt="">{% endif %}
        {% if pet.age %} <p><strong>Age: {{pet.age}}</strong></p> {% endif %}
        <h3>Update pet info:</h3>
        <form method="POST">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden'%}
            <div class="form-group">
            {{field.label}}
            {{field(class_="form-control")}}
            {% for err in field.errors %}
            <small class="form-text text-danger">
                {{err}}
            </small>
            {% endfor %}
            </div>
            {% endfor %}
            <button class="btn btn-success btn-lg">Submit</button>
            <a href="/" class="btn btn-secondary btn-lg">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}